/*=================================================
=                   Annyversary                   =
=================================================*/
.anniversary {
	width: 100%;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	user-select: none;
	box-sizing: border-box;
	//opacity: 0;
	//display: none;
	z-index: -1;

	&--2024 {
		opacity: 0;
		display: block;
		background-color: $fourth;
		z-index: -1;
	}

	/* NY Year
	-------------------------------------------------- */
	#ny2024 {

		&Back {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: block;
			position: fixed;
			overflow: hidden;
			z-index: 0;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		&Text {
			width: auto;
			height: 60vh;
			display: block;
			position: absolute;
			top: 4vh;
			left: 50%;
			transform: translateX(-50%);
			z-index: 3;
		}
	}
	/* End of 08-03-22 v2
	-------------------------------------------------- */

	@include grid-media($XSmall) {

		// &--100year {
		// 	opacity: 1;
		// 	z-index: 9999;
		// }

		#s100year {

			&__back {

				&Red {
					height: 77vh;
					top: 5vh;
				}
			}

			&__logo {
				height: 23vh;
				top: 9vh;
				left: 16.5vw;

				&Back {
					height: 25vh;
					top: 8vh;
					left: 15vw;
				}
			}

			&__name {
				height: 10.5vh;
				left: 15vw;
				top: 35vh;
			}

			&__slogan {
				height: 23vh;
				top: 52vh;
				left: 25vw;

				&Line {
					width: auto;
					height: 45vh;
					top: 27vh;
					left: 47vw;
					transform: rotate(90deg);
				}
			}

			&__100 {

				&White {
					width: 70vw;
					bottom: 10vh;
				}

				&Red {
					width: 70vw;
					bottom: 9vh;
				}

				&digit {
					width: 47vw;
					bottom: 11vh;
					right: 17vw;
				}
			}
		}
	}
}