/*! @group Layout */
/* ========================================================================== */
.wrapper {
	@include grid-container;
	min-height: 100vh;
	display: block;
	position: relative;
	// margin-bottom: calc(300px + 4rem);
	background-color: $layoutBackground;
	//transition: all .3s;
	animation: fadeIn 0.6s ease-in-out;
	// box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
	z-index: 1;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				stroke: lighten($secondary, 70%);
				stroke-width: 5;
				fill: none;
				padding: 1rem;
				transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h1;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: #fff;
				overflow: hidden;
				transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $primary;
					z-index: 1;
					//box-sizing: border-box;
					transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
					transform: scaleX(0);
					transform-origin: center right;
				}

				svg {
					fill: none;
					stroke: $primary;
					stroke-width: 6;
					z-index: 10;
					transition: all 0.3s;
				}

				&:hover {

					svg {
						stroke: #fff;
						transform: translateX(-5px);
					}

					&::after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}
	}

	&__background {
		width: calc(((100% / 12) * 10) - (#{$headerBlindWidth} / 2));
		height: calc(100vh - #{$headerHeightDesktop});
		display: block;
		position: fixed;
		top: $headerHeightDesktop;
		right: 0;
		overflow: hidden;
		z-index: -1;

		#may9_1 {
			width: 50%;
			height: auto;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0.3;
			z-index: 0;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		#may9_2 {
			width: 50%;
			height: auto;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.3;
			z-index: 0;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		#may9_3 {
			width: 60%;
			height: auto;
			display: block;
			position: absolute;
			top: 33vh;
			left: 0;
			opacity: 0.3;
			z-index: 0;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		#may9_4 {
			width: auto;
			height: 67vh;
			display: block;
			position: absolute;
			top: 33vh;
			left: 60%;
			opacity: 0.3;
			z-index: 0;
			// transform: translateX(51%);

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		#may9_5 {
			width: 110%;
			height: auto;
			display: block;
			position: absolute;
			top: 22vh;
			left: 0;
			opacity: 0.5;
			z-index: 1;
			transform: translateX(-5%);

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		#ny2021 {
			width: 110%;
			height: auto;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.5;
			z-index: 1;
			// transform: translateX(-5%);

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	@include grid-media($Medium) {
		//padding: 6rem 1rem 0;
	}

	@include grid-media($XSmall) {

		&_news {
			padding-right: 0;
		}
	}

	@include grid-media($Small) {
		z-index: 10;

		&__background {
			width: 100%;
			top: $headerHeightMobile * 2;
		}
	}
}

.filled {
	fill: $primary;
}
/* @end  */

/*! @group Arrow down */
/* ========================================================================== */
.arrow-down {
	width: 26px;
	height: 40px;
	display: block;
	//background-color: $secondary;
	border: 2px solid $primary;
	border-radius: 20px;
	//border-top-left-radius: 25px;
	//border-top-right-radius: 25px;
	position: absolute;
	margin: 0 auto 0 -15px;
	left: 50%;
	bottom: 20px;
	padding-top: 5px;
	animation: fadeIn 1.4s ease-in-out;

	// &:hover {
	// 	//border-color: lighten(@brand-primary, 25%);
	// }

	svg {
		margin: -3px 0 0 1px;
		animation: down 0.6s ease-out alternate;
		animation-iteration-count: infinite;

		line, polyline {
			stroke: $primary;
		}
	}

	@include grid-media($Small) {
		visibility: hidden;
	}
}

@keyframes down {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(4px);
	}
}

/* @end  */

/*=================================================
=                   Annyversary                   =
=================================================*/

.anniversary {
	width: 100%;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	user-select: none;
	box-sizing: border-box;
	opacity: 0;
	display: none;
	z-index: -1;

	&--8march {
		opacity: 0;
		display: block;
		background-color: #FDF5E7;
		z-index: -1;
	}

	&--8num {
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.8);
		z-index: 1;
	}

	&--flower {
		display: block;
		position: fixed;
		transform-origin: 50% 50%;
	}

	/* 08-03-21
	-------------------------------------------------- */
	#march {

		&Flower1 {
			width: 15%;
			height: auto;
			top: 5%;
			left: 10%;
			transform: rotate(-90deg);
			z-index: 3;
		}

		&Flower2 {
			width: 15%;
			height: auto;
			top: -5%;
			left: 57%;
			transform: rotate(-90deg);
			z-index: 3;
		}

		&Flower3 {
			width: 20%;
			height: auto;
			top: -10%;
			left: 85%;
			transform: rotate(-90deg);
			z-index: 3;
		}

		&Flower4 {
			top: 0%;
			left: 65%;
			// transform: scale(0);
			z-index: 4;
		}

		&Flower5 {
			width: 20%;
			height: auto;
			top: 25%;
			left: 82%;
			transform: rotate(15deg);
			z-index: 3;
		}

		&Flower6 {
			width: 15%;
			height: auto;
			top: 35%;
			left: 15%;
			transform: rotate(25deg);
			z-index: 4;
		}

		&Flower7 {
			top: 50%;
			left: 2%;
			transform: rotate(15deg);
			z-index: 3;
		}

		&Flower8 {
			width: 17%;
			height: auto;
			top: 70%;
			left: 20%;
			transform: rotate(20deg);
			z-index: 2;
		}

		&Flower9 {
			width: 15%;
			height: auto;
			top: 80%;
			left: -6%;
			z-index: 4;
		}

		&Flower10 {
			width: 15%;
			height: auto;
			top: 65%;
			left: 75%;
			z-index: 2;
		}

		&Text1 {
			width: 35rem;
			top: 35%;
		}

		&Text2 {
			width: 35rem;
			top: 50.15%;
		}

		&Text3 {
			width: 40rem;
			top: 65%;
		}
	}

	&--text {
		height: auto;
		display: block;
		position: fixed;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%);
		// opacity: 0;
	}
	/* End of 08-03-21
	-------------------------------------------------- */

	/* 08-03-22 v1
	-------------------------------------------------- */
	&__back {
		width: 100%;
		height: 100vh;
		display: block;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 0;

		> img {
			width: 100%;
			height: 100%;
			display: block;
			object-position: center;
			object-fit: cover;
		}
	}

	#s080322 {

		&_plate {
			width: 35%;
			height: auto;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}

		&_redFlower1 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 57%;
			left: 32%;
			transform: scale(0.7);
			z-index: 3;
		}

		&_redFlower2 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 24%;
			left: 22%;
			transform: scale(0.5);
			z-index: 1;
		}

		&_redFlower3 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 0%;
			left: 53%;
			transform: scale(0.2);
			z-index: 3;
		}

		&_redFlower4 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 13%;
			left: 51%;
			transform: scale(0.4);
			z-index: 1;
		}

		&_redFlower5 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 55%;
			left: 51%;
			transform: scale(0.3);
			z-index: 3;
		}

		&_redFlower6 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 50%;
			left: 66%;
			transform: scale(0.3);
			z-index: 3;
		}

		&_pinkFlower1 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 11%;
			left: 27%;
			transform: scale(0.7);
			z-index: 0;
		}

		&_pinkFlower2 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 8%;
			left: 45%;
			transform: scale(0.4);
			z-index: 3;
		}

		&_pinkFlower3 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 52%;
			left: 55%;
			transform: scale(0.5);
			z-index: 1;
		}

		&_pinkFlower4 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 66%;
			left: 40%;
			transform: scale(0.6);
			z-index: 1;
		}

		&_pinkFlower5 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 35%;
			left: 57%;
			transform: scale(0.3);
			z-index: 3;
		}

		&_pinkFlower6 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 33%;
			left: 15%;
			transform: scale(0.25);
			z-index: 3;
		}

		&_cyanFlower1 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 5%;
			left: 38%;
			transform: scale(0.7);
			z-index: 1;
		}

		&_cyanFlower2 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 29%;
			left: 58%;
			transform: scale(0.8);
			z-index: 1;
		}

		&_cyanFlower3 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 65%;
			left: 50%;
			transform: scale(0.5);
			z-index: 1;
		}

		&_cyanFlower4 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 68%;
			left: 63%;
			transform: scale(0.3);
			z-index: 1;
		}

		&_cyanFlower5 {
			width: auto;
			height: auto;
			display: block;
			position: absolute;
			top: 52%;
			left: 23%;
			transform: scale(0.8);
			z-index: 1;
		}

		&_text1 {
			width: 28vmax;
			top: 38%;
		}

		&_text2 {
			width: 28vmax;
			top: 48%;
		}

		&_text3 {
			width: 30vmax;
			top: 58%;
		}
	}
	/* End of 08-03-22 v1
	-------------------------------------------------- */

	/* 08-03-22 v2
	-------------------------------------------------- */
	#s080322 {

		&_woman {
			width: auto;
			height: 100vh;
			display: block;
			top: 3vh;
			left: -6rem;
			position: absolute;
			z-index: 0;
		}

		&_slogan {
			width: 70vw;
			height: auto;
			display: block;
			top: -3vh;
			right: -5vw;
			position: absolute;
			z-index: 2;
		}

		&_eight {
			width: 25vw;
			height: auto;
			display: block;
			top: 10vw;
			right: 18vw;
			position: absolute;
			z-index: 1;
		}

		&_flowerTop {
			width: 50vw;
			height: auto;
			display: block;
			top: 1vw;
			right: 2vw;
			position: absolute;
			z-index: 3;
		}

		&_flowerBottom {
			width: 50vw;
			height: auto;
			display: block;
			top: 37vw;
			right: 5vw;
			position: absolute;
			z-index: 3;
		}
	}
	/* End of 08-03-22 v2
	-------------------------------------------------- */

	/* День библиотек
	-------------------------------------------------- */
	#bookFlower {
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
	}

	#libraryText {
		width: 50%;
		height: auto;
		display: block;
		position: absolute;
		top: 7vh;
		left: 7%;
		z-index: 2;
	}
	/* End of День библиотек
	-------------------------------------------------- */

	@include grid-media($XSmall) {

		&--8num {
			transform: translate(-50%, -50%) scale(1);
		}

		#marchFlower1 {
			width: 30%;
			height: auto;
			top: 2%;
			left: 2%;
			transform: rotate(-90deg);
			z-index: 3;
		}

		#marchFlower2 {
			width: 35%;
			height: auto;
			top: -3%;
			left: 52%;
			transform: rotate(-90deg);
			z-index: 3;
		}

		#marchFlower3 {
			width: 35%;
			height: auto;
			top: -7%;
			left: 80%;
			transform: rotate(-90deg);
			z-index: 3;
		}

		#marchFlower4 {
			width: 45%;
			height: auto;
			top: 7%;
			left: 70%;
			z-index: 4;
		}

		#marchFlower5 {
			top: 20%;
			left: 79%;
			transform: rotate(15deg);
			z-index: 3;
		}

		#marchFlower6 {
			width: 25%;
			height: auto;
			top: 65%;
			left: -10%;
			transform: rotate(25deg);
			z-index: 4;
		}

		#marchFlower7 {
			width: 50%;
			height: auto;
			top: 70%;
			left: 2%;
			transform: rotate(15deg);
			z-index: 3;
		}

		#marchFlower8 {
			width: 30%;
			height: auto;
			top: 88%;
			left: 35%;
			transform: rotate(20deg);
			z-index: 2;
		}

		#marchFlower9 {
			width: 25%;
			height: auto;
			top: 90%;
			left: -6%;
			z-index: 4;
		}

		#marchFlower10 {
			width: 20%;
			height: auto;
			top: 82%;
			left: 70%;
			z-index: 2;
		}

		#marchText1 {
			width: 80%;
			top: 40%;
		}

		#marchText2 {
			width: 75%;
			top: 50%;
		}

		#marchText3 {
			width: 90%;
			top: 60%;
		}

		/* День библиотек
		-------------------------------------------------- */
		#bookFlower {
			width: 100%;
			height: initial;
			top: initial;
			bottom: 0;
		}

		#libraryText {
			width: 86%;
		}
		/* End of День библиотек
		-------------------------------------------------- */
	}
}
/*============  Annyversary  =============*/

/* 12 June 2021
-------------------------------------------------- */

#anniversary120621 {
	background: linear-gradient(270deg, #eaeef4 0%, #ccd1db 100%);
	// display: block;
	// opacity: 1;
	// z-index: 9999;

	#a120621_baloon {
		position: absolute;
		top: 5vh;
		left: 5vw;
		width: 37vw;
		display: block;
		z-index: 1;
	}

	#a120621_confetti {
		position: absolute;
		top: 2vh;
		left: 5vw;
		height: 96vh;
		display: block;
		z-index: 2;
	}

	#a120621_num {
		position: absolute;
		top: 30vh;
		left: 60vw;
		width: 18vw;
		display: block;
		z-index: 2;
	}

	#a120621_slogan {
		position: absolute;
		top: 57vh;
		left: 53.5vw;
		width: 30vw;
		display: block;
		z-index: 3;
	}

	@include grid-media($XSmall) {

		#a120621_baloon {
			width: 90vw;
			top: 65vw;
		}

		#a120621_num {
			width: 60vw;
			top: 5vh;
			left: 20vw;
		}

		#a120621_slogan {
			width: 80vw;
			left: 10vw;
			top: 33vh;
		}
	}
}

/* End of 12 June 2021
-------------------------------------------------- */

/*=================================================
=                   jScrollPane                   =
=================================================*/

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

 .jspContainer
 {
	 overflow: hidden;
	 position: relative;
 }

 .jspPane
 {
	 position: absolute;
 }

 .jspVerticalBar
 {
	 background: red;
	 height: 100%;
	 position: absolute;
	 right: 0;
	 top: 0;
	 width: 16px;
 }

 .jspHorizontalBar
 {
	 background: red;
	 bottom: 0;
	 height: 16px;
	 left: 0;
	 position: absolute;
	 width: 100%;
 }

 .jspCap
 {
	 display: none;
 }

 .jspHorizontalBar .jspCap
 {
	 float: left;
 }

 .jspTrack
 {
	 background: #dde;
	 position: relative;
 }

 .jspDrag
 {
	 background: #bbd;
	 cursor: pointer;
	 left: 0;
	 position: relative;
	 top: 0;
 }

 .jspHorizontalBar .jspTrack,
 .jspHorizontalBar .jspDrag
 {
	 float: left;
	 height: 100%;
 }

 .jspArrow
 {
	 background: #50506d;
	 cursor: pointer;
		 direction: ltr;
	 display: block;
	 margin: 0;
	 padding: 0;
	 text-indent: -20000px;
 }

 .jspDisabled
 {
	 background: #80808d;
	 cursor: default;
 }

 .jspVerticalBar .jspArrow
 {
	 height: 16px;
 }

 .jspHorizontalBar .jspArrow
 {
	 float: left;
	 height: 100%;
	 width: 16px;
 }

 .jspVerticalBar .jspArrow:focus
 {
		 border: 1px solid red;
	 outline: none;
 }

 .jspCorner
 {
	 background: #eeeef4;
	 float: left;
	 height: 100%;
 }

 /* Yuk! CSS Hack for IE6 3 pixel bug :( */
 * html .jspCorner
 {
	 margin: 0 -3px 0 0;
 }

/*============  End of jScrollPane  =============*/