
/*====================================
=            Main content            =
====================================*/

.main-content {
	// @include grid-column(10, $main-grid);
	width: calc(((100% / 12) * 10) - (#{$headerBlindWidth} / 2));
	min-height: calc(100vh - #{$headerHeightDesktop} - (#{$marginVert} * 2));
	display: block;
	float: left;
	padding-top: $headerHeightDesktop + ($marginVert * 2);

	&__container {
		width: 68rem;
		max-width: 68rem;
		height: 100%;
		margin: 0 auto;
	}

	&__breadcrumbs {
		// @include grid-column(12, $second-grid);
		width: calc(100% - #{$headerBlindWidth});
		height: 2rem;
		display: block;
		margin: 0 auto;
		position: relative;
		transform: translateY(-75%);

		ul {

			li {
				float: left;

				span {
					font-size: $font-size-small;
				}
			}
		}
	}

	&__inside {
		// @include grid-column(12, $second-grid);
		width: calc(100% - #{$headerBlindWidth});
		min-height: 10rem;
		display: block;
		// float: left;
		// margin-left: $headerHeightDesktop + 1;
		margin: 0 auto $marginVert;
		position: relative;
		overflow: auto;

		&-map {
			width: 100%;
			min-height: 40vh;
			display: block;
			// margin-bottom: $marginVert;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				display: block;
			}

			i {
				float: left;
				margin-top: $marginVert / 3;
			}
		}

		&-content {
			width: 100%;
			display: block;
			position: relative;
			float: left;
			margin-bottom: $marginVert;

			ol.comment-list {
				padding: 0;
			}

			ol {
				margin-top: 0;
				margin-bottom: 1rem;
				padding-inline-start: 1rem;
			}

			ul {
				list-style: disc;
				padding-inline-start: 1rem;
				margin-top: 0;
				margin-bottom: 1rem;
			}

			p {
				margin-top: 0;
			}
		}

		&-form {
			// @include rowMachine(2, $marginVert);
			width: calc(50% - #{$marginVert});
			min-height: 20vh;
			display: block;
			float: left;
			margin-right: $marginVert;
		}

		&-photo {
			// @include rowMachine(2, $marginVert);
			width: calc(50% - #{$marginVert});
			min-height: 20vh;
			display: block;
			float: left;
			margin-right: $marginVert;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		&-video {
			width: 60%;
			// min-height: 30vh;
			display: block;
			float: left;
			margin-right: $marginVert;
			margin-bottom: $marginVert;
			overflow: hidden;

			iframe {
				width: 100%;
				// min-height: 30vh;
				display: block;
			}
		}

		&-description {
			// @include rowMachine(2, $marginVert);
			width: 50%;
			min-height: 20vh;
			display: block;
			float: left;

			ul {
				margin-bottom: $marginVert;

				li {
					list-style: disc;
					// margin-left: $marginVert / 2;

					ul {
						margin-bottom: 0;
					}
				}
			}

			ol {
				padding-left: $marginVert / 2;
				margin-bottom: $marginVert;

				li {

					ul {
						margin-bottom: 0;

						// li {
						// 	margin-left: $marginVert / 2;
						// }
					}
				}
			}

			&--news {

				p {
					margin-top: 0;
				}
			}

			&--video {
				width: calc(40% - #{$marginVert});
				min-height: 5rem;
				display: block;
				float: left;

				p {
					margin-top: 0;
				}
			}

			h3 {
				margin-top: 0;
			}

			p {

				&:first-child {
					margin-top: 0;
				}
			}
		}

		&-outer {
			width: 100%;
			min-height: 20vh;
			display: block;
			float: left;

			#elCatalogue {
				width: 100%;
				min-height: 100vh;
			}
		}
	}

	&__hero {
		// @include grid-container;
		width: 100%;
		height: 27.5vw;
		display: block;
		position: relative;
		margin-bottom: $marginVert;
		overflow: hidden;

		picture {
			width: 100%;
			height: 100%;
			display: block;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		&-page {
			height: 20vw;

			&:after {
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $secondary;
				opacity: 0.2;
				z-index: 1;
				transition: all $base-duration;
			}

			&:hover {

				&:after {
					opacity: 0.5;
				}
			}
		}

		&--mask {
			background-color: $secondary;
			opacity: 0;

			img {
				opacity: 0.5;
			}
		}

		&-video {
			width: $headerHeightDesktop;
			height: $headerHeightDesktop;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			left: 50%;
			border: $border_bold solid $primary;
			background-color: rgba($primary, 0.15);
			border-radius: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			transition: all 0.3s;

			svg {
				width: $headerHeightDesktop / 2;
				height: $headerHeightDesktop / 2;
				display: block;
				transition: all 0.3s;
				transform: translateX(10%);

				path {
					fill: rgba($primary, 0.3);
					stroke: $primary;
					stroke-width: $border_bold;
				}
			}

			&--visible {
				display: flex;
				visibility: visible;
			}

			&--invisible {
				display: none;
				visibility: hidden;
			}

			&:hover {
				border-color: $fourth;
				background-color: rgba($fourth, 0.3);

				svg {
					transform: translateX(15%);

					path {
						stroke: $fourth;
						fill: rgba($fourth, 0.5);
					}
				}
			}
		}

		&-link {
			padding: 0.5rem 1rem;
			position: absolute;
			background-color: transparent;
			color: $primary;
			border: $border_normal solid $primary;
			font: {
				family: $heading-font;
				size: $font-size-h1;
			};
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;

			&:hover {
				background-color: $primary;
				color: $secondary;
			}
		}

		@include grid-media($Small) {
			display: none;
			visibility: hidden;
		}
	}

	&__news-nav {
		width: 100%;
		min-height: $marginVert;
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-top: $marginVert;
		margin-bottom: $marginVert;

		%news-nav {
			width: 17%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			// margin-left: $marginVert / 2;
			border: $border_normal solid $secondary;
			transition: all $base-duration;
		}

		&--prev {
			@extend %news-nav;
			padding: 0.5rem 1rem;

			&:before {
				content:"\f053";
				font-family: "fontawesome";
				// font-size: $font-size-large;
				color: $secondary;
				position: absolute;
				left: ($marginVert / 2);
				top: 50%;
				transform: translate(-50%, -50%);
				transition: all $base-duration;
				opacity: 0;
			}

			&:hover {
				padding-left: 1.5rem;
				padding-right: 0.5rem;
				background-color: $secondary;
				color: $primary;

				&:before {
					color: $primary;
					transform: translate(0, -50%);
					opacity: 1;
				}
			}
		}

		&--next {
			@extend %news-nav;
			padding: 0.5rem 1rem;

			&:after {
				content:"\f054";
				font-family: "fontawesome";
				// font-size: $font-size-large;
				color: $secondary;
				position: absolute;
				right: 1.5rem;
				top: 50%;
				transform: translate(50%, -50%);
				transition: all $base-duration;
				opacity: 0;
			}

			&:hover {
				padding-left: 0.5rem;
				padding-right: 1.5rem;
				background-color: $secondary;
				color: $primary;

				&:after {
					color: $primary;
					transform: translate(0, -50%);
					opacity: 1;
				}
			}
		}

		@include grid-media($Small) {

			%news-nav {
				width: 30%;
				font-size: $font-size-small;
				line-height: 1;
			}

			&--prev {
				padding: 0.5rem 0.5rem 0.5rem 1.5rem;

				&:before {
					opacity: 1;
					left: 0.75rem;
				}
			}

			&--next {
				text-align: right;
				padding: 0.5rem 1.5rem 0.5rem 0.5rem;

				&:after {
					opacity: 1;
					right: 0.75rem;
				}
			}
		}
	}

	&__intro {
		// @include grid-column(8, $second-grid);
		// width: calc(((100% / 12) * 8) - (#{$frontAnniversaryBorder} * 2));
		width: calc(((100% / 12) * 8));
		// width: 100% !important;
		// height: calc(100% - (#{$frontAnniversaryBorder} * 2));
		// height: 100%;
		height: 27.5vw;
		display: block;
		float: left;
		position: relative;
		// background-color: $primary;
		// margin-left: $marginVert;
		// overflow: hidden;
		// border: $frontAnniversaryBorder solid $secondary;

		&:hover {
			// cursor: url('images/grab.png'), move;

			.bx-prev,
			.bx-next {
				opacity: 1;
			}
		}

		// #sliderIntro {
		// 	width: 100% !important;
		// }

		picture.slide {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			float: left;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&__anniversary {
		// @include grid-column(4, $second-grid);
		// width: calc(((100% / 12) * 4) - #{$marginVert} - (#{$frontAnniversaryBorder} * 2));
		// height: calc(100% - (#{$frontAnniversaryBorder} * 2));
		width: calc(((100% / 12) * 4) - #{$marginVert});
		// height: 100%;
		height: 27.5vw;
		display: block;
		float: left;
		position: relative;
		background-color: $primary;
		margin-left: $marginVert;
		// border: $frontAnniversaryBorder solid $secondary;
		// overflow: hidden;

		#galleryAnniversary {
			width: 100% !important;
			margin-left: 0 !important;
		}

		&:hover {
			// cursor: url('images/grab.png'), move;

			.bx-prev,
			.bx-next {
				opacity: 1;
			}
		}

		&-slide {
			height: 100%;
		}

		&-top {
			width: 100%;
			height: $anniversaryTopHeight;
			display: flex;
			flex-direction: row;
		}

		&-data {
			width: calc(((100% - #{$anniversaryPhotoWidth}) / 2) - 1rem);
			height: 100%;
			display: flex;
			flex-direction: column;
			background-color: $secondary;
			padding: 0 0.5rem;
		}

		&-date {
			width: 100%;
			height: 60%;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			font: {
				family: $heading-font;
				size: $font-size-h1;
			};
			color: $primary;
		}

		&-month {
			width: 100%;
			height: 40%;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			font: {
				family: $heading-font;
				size: $font-size-small;
			};
			color: $primary;
		}

		picture.main-content__anniversary-photo {
			width: $anniversaryPhotoWidth;
			height: 100%;
			display: block;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		&-birthday {
			width: calc(((100% - #{$anniversaryPhotoWidth}) / 2) - 1rem);
			height: 100%;
			display: block;
			padding: 0 0.5rem;

			span {
				width: 100%;
				height: 60%;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				font: {
					family: $heading-font;
					size: $font-size-h1;
				};
				color: $secondary;
			}

			p {
				width: 100%;
				height: 40%;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				font: {
					family: $heading-font;
					size: $font-size-small;
				};
				line-height: 1;
				color: $secondary;
				margin: 0;
				text-align: center;
			}
		}

		&-middle {
			width: calc(100% - #{$marginVert});
			height: calc(((#{$anniversaryTopHeight} / 4) * 3) - #{$marginVert});
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: $marginVert / 2;
			background-color: $sidebarButtonsBackground;

			h3 {
				text-align: center;
				font: {
					size: $font-size-h1;
				};
				margin-bottom: 0;
				padding-bottom: 0.5rem;
				margin-top: 0;
			}

			p {
				margin: 0;

				i, em {
					font-size: $font-size-small;
				}
			}
		}

		&-bottom {
			width: calc(100% - (#{$marginVert} * 2));
			height: calc(100% - #{$anniversaryTopHeight} - ((#{$anniversaryTopHeight} / 4) * 3) - (#{$marginVert} * 2));
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: ($marginVert / 2) $marginVert;
			text-align: center;

			p {
				margin: 0;
			}
		}

		@include grid-media($XXLarge) {

			&-top {
				height: $anniversaryTopHeight + 5;
			}

			&-date {
				font-size: $font-size-h1 + 2;
			}

			&-month {
				font-size: $font-size-base;
			}

			&-birthday {
				font-size: $font-size-h1 + 2;

				span {
					font-size: $font-size-h1 + 2;
				}

				p {
					font-size: $font-size-base;
				}
			}

			&-middle {

				h3 {
					font-size: $font-size-h1 + 1;
				}
			}
		}

		@include grid-media($XLarge) {

			&-top {
				height: $anniversaryTopHeight + 5;
			}

			&-date {
				font-size: $font-size-h1 + 2;
			}

			&-month {
				font-size: $font-size-base;
			}

			&-birthday {
				font-size: $font-size-h1 + 2;

				span {
					font-size: $font-size-h1 + 2;
				}

				p {
					font-size: $font-size-base;
				}
			}

			&-middle {

				h3 {
					font-size: $font-size-h1 + 1;
				}
			}
		}

		@include grid-media($Large) {

			&-top {
				height: $anniversaryTopHeight;
			}

			&-date {
				font-size: $font-size-h1 + 1;
			}

			&-month {
				font-size: $font-size-small;
			}

			&-birthday {
				font-size: $font-size-h1 + 1;

				span {
					font-size: $font-size-h1 + 1;
				}

				p {
					font-size: $font-size-small;
				}
			}

			&-middle {

				h3 {
					font-size: $font-size-h1;
				}
			}
		}

		@include grid-media($Medium) {

			&-middle {

				h3 {
					font-size: $font-size-h2;
					// padding-bottom: 0;
				}

				p {
					font-size: $font-size-small;
				}
			}

			&-bottom {
				font-size: $font-size-small;
			}
		}
	}

	&__news {
		width: 100%;
		// @include grid-container;
		// margin-bottom: $marginVert;

		&-block {
			// @include grid-column(12, $second-grid);
			width: 100%;
			min-height: 10rem;
		}

		&-single {
			@include rowMachine(4, ($marginVert / 2));
			min-height: 10rem;
			// border: $border_thin solid $secondary;
			background-color: lighten($primary, 10%);
			position: relative;
			// box-shadow: 0.1rem 0.1rem 0.2rem rgba($third, 0.3);
			// transition: all 0.3s;

			// &:hover {
			//     box-shadow: 0.2rem 0.2rem 0.2rem rgba($third, 0.2);
			// }

			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}

		@include grid-media($XXLarge) {

			&-single {
				@include rowMachine(4, $marginVert);
			}
		}

		@include grid-media($XLarge) {

			&-single {
				@include rowMachine(4, $marginVert);
			}
		}

		@include grid-media($Large) {

			&-single {
				@include rowMachine(4, ($marginVert / 2));
			}
		}

		@include grid-media($Small) {
			width: 100%;

			&-block {
				width: 100%;
				margin-left: 0;
			}

			&-single {
				width: 100%;
				margin-left: 0;
			}
		}
	}

	&__read {
		// @include grid-container;
		width: 100%;
		display: block;
		float: left;
		min-height: 5rem;
		// margin-bottom: $marginVert;
		overflow: hidden;

		&-single {
			// @include grid-column(2, $second-grid);
			// min-height: 13rem;
			// display: inline-block;
			// // background-color: $primary;
			// margin-block-start: 0;
			// margin-block-end: 0;
			// margin-inline-start: 0;
			// margin-inline-end: 0;
			@include rowMachine(6, ($marginVert / 2));
			min-height: 10rem;
			background-color: $primary;
			transition: all $base-duration;

			picture {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: center;
					transition: transform $base-duration;
				}
			}

			// &:hover {

			// 	picture {

			// 		img {
			// 			transform: scale(1.05)
			// 		}
			// 	}
			// }
		}

		figcaption {
			display: none;
		}

		&-all {

			&:hover {

				figure:not(:hover) {
					filter: grayscale(1);
				}
			}
		}

		@include grid-media($XXLarge) {

			&-single {
				@include rowMachine(5, $marginVert);
			}
		}

		@include grid-media($XLarge) {

			&-single {
				@include rowMachine(5, $marginVert);
			}
		}

		@include grid-media($Large) {

			&-single {
				@include rowMachine(5, ($marginVert / 2));
			}
		}

		@include grid-media($Medium) {

			&-single {
				@include rowMachine(5, ($marginVert / 2));
			}
		}

		@include grid-media($XSmall) {

			&-single {
				@include rowMachine(5, ($marginVert / 2));
			}
		}

		@include grid-media($Small) {
			// display: none;
			// visibility: hidden;

			&-single {
				@include rowMachine(2, ($marginVert / 2));
			}
		}
	}

	&__doc {
		@include grid-container;
		min-height: 5rem;
		margin: $marginVert 0;

		li {
			@include rowMachine(5, $marginVert);
			// min-height: 13rem;
			display: inline-block;
			position: relative;
			margin-block-start: 0;
			margin-block-end: 0;
			// margin-inline-start: 0;
			margin-inline-end: 0;
			overflow: hidden;

			a {
				width: 100%;
				height: 100%;
				transition: all $base-duration;

				picture {
					width: 100%;
					height: 100%;
					display: block;
					overflow: hidden;
				}

				img {
					width: 100%;
					height: auto;
					display: block;
					object-fit: cover;
					object-position: center;
					transition: transform $base-duration;
				}

				span {
					width: calc(100% - #{$marginVert});
					font: {
						family: $heading-font;
						size: $font-size-base;
					};
					line-height: 1.2;
					padding: 0 ($marginVert / 2);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&:hover {

					picture {

						img {
							transform: scale(1.05)
						}
					}
				}
			}
		}

		@include grid-media($Small) {

			li {
				@include rowMachine(2, $marginVert);
			}
		}
	}

	&__projects {
		@include grid-container;
		min-height: 5rem;
		margin: $marginVert 0;
	}

	&__text {
		// column-count: 2;
		// column-gap: $marginVert * 2;
		margin-bottom: $marginVert;

		p {
			margin-top: 0;
		}

		ul {
			margin-bottom: $marginVert / 2;

			li {
				list-style: disc;
				margin-left: $marginVert / 2;
			}
		}

		// strong {
		// 	color: $secondary;
		// }

		&--single {
			column-count: 1;
		}

		// @include grid-media($Small) {
		// 	column-count: 1;
		// }
	}

	&__contact {
		// @include grid-container;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		&-block {
			@include rowMachine(4, $marginVert);
			// width: calc((100% / 4) - (#{$marginVert} / 2));
			height: 13rem;
			background-color: lighten($layoutBackground, 5%);
			padding: ($marginVert / 2) 0;
			// margin-right: $marginVert / 2;
			// margin-bottom: $marginVert / 2;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}

		&-name {
			width: calc(100% - (#{$marginVert} * 2));
			display: inline-block;
			padding: ($marginVert / 5) $marginVert;
			font: {
				family: $heading-font;
				size: $font-size-large;
			};
			color: $secondary;
		}

		&-position {
			width: calc(100% - (#{$marginVert} * 2));
			min-height: 1.9rem;
			display: inline-block;
			padding: 0 $marginVert;
			font: {
				// family: $heading-font;
				size: $font-size-small;
			};
		}

		&-adress {
			width: calc(100% - (#{$marginVert} * 2));
			display: inline-block;
			padding: ($marginVert / 5) $marginVert;
			color: $secondary;
			// font: {
			// 	// family: $heading-font;
			// 	size: $font-size-small;
			// };

			&:hover {
				text-decoration: underline;
			}
		}

		@include grid-media($Large) {

			&-block {
				@include rowMachine(3, $marginVert);
				height: 15rem;
			}
		}

		@include grid-media($Small) {

			&-block {
				width: 100%;
				height: 10rem;
				margin-left: 0;
			}

			&-name {
				line-height: 1;
			}
		}
	}

	&__link {
		@include grid-container;

		&-block {
			width: 100%;
			height: 8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			float: left;
			position: relative;
			background-color: $primary;
			margin: ($marginVert / 4) 0;
			font: {
				family: $heading-font;
				size: $font-size-h1;
			};
			overflow: hidden;

			&:first-child {
				margin-top: 0;
			}
			span {
				position: absolute;
				z-index: 1;
			}

			img {
				width: 100%;
				height: auto;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0.3;
				z-index: 0;
			}

			&:hover {
				background-color: $secondary;
				color: $primary;
			}
		}

		&-list {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&-page {
			@include rowMachine(4, ($marginVert / 2));
			min-height: 10rem;
			// border: $border_thin solid $secondary;
			background-color: lighten($primary, 10%);
			position: relative;
			// box-shadow: 0.1rem 0.1rem 0.2rem rgba($third, 0.3);
			// transition: all 0.3s;

			// &:hover {
			//     box-shadow: 0.2rem 0.2rem 0.2rem rgba($third, 0.2);
			// }

			&:after {
				content: "";
				display: table;
				clear: both;
			}

			&:hover {

				a {
					picture {

						img {
							transform: scale(1.05);
						}
					}
				}
			}
		}

		&-image {
			width: 100%;
			height: 20vw;
			display: block;
			overflow: hidden;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
				transition: 0.5s $ease-out-expo;
			}
		}

		&-title {
			width: calc(100% - 2rem);
			height: 5vw;
			display: flex;
			align-items: center;
			padding: 0 1rem;
			background-color: $primary;

			h4 {
				padding-bottom: 0.3rem;
			}
		}

		@include grid-media($XXLarge) {

			&-page {
				@include rowMachine(5, $marginVert);
			}

			&-image {
				height: 15vw;
			}
		}

		@include grid-media($XLarge) {

			&-page {
				@include rowMachine(5, $marginVert);
			}

			&-image {
				height: 15vw;
			}
		}

		@include grid-media($Large) {

			&-page {
				@include rowMachine(4, ($marginVert / 2));
			}

			&-image {
				height: 20vw;
			}
		}

		@include grid-media($Small) {

			&-page {
				@include rowMachine(1, ($marginVert / 2));
				// margin-right: 0;
			}

			&-image {
				height: 50vh;
			}

			&-title {
				padding: 1rem;
			}

			&-block {
				width: calc(100% - (#{$paddingMobile} * 2));
				height: 3rem;
				// min-height: 2rem;
				padding: $paddingMobile;

				span {
					// font-size: $font-size-h1 * 4;
					line-height: 1;
					text-align: center;
					position: relative;
				}
			}
		}
	}

	&__calendar {
		// @include grid-column(12, $second-grid);
		width: 100%;
		display: block;
		float: left;
		margin-bottom: $marginVert;

		&-month {
			// @include grid-column(12, $main-grid);
			min-height: 30vh;
			display: block;
			// background-color: $primary;
		}

		// ul {
		// 	// display: flex;
		// 	// flex-direction: row;
		// 	// flex-wrap: wrap;
		// 	// font-size: 0;
		// }

		&-date {
			@include rowMachine(6, ($marginVert / 2));
			// width: calc((100% / 7) - (#{$border_normal} * 2) - (((#{$marginVert} / 2) * 6) / 7));
			height: 4rem;
			// margin-right: $marginVert / 2;

			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}

		@include grid-media($XXLarge) {

			&-date {
				@include rowMachine(7, $marginVert);
				height: 5rem;
			}
		}

		@include grid-media($XLarge) {

			&-date {
				@include rowMachine(6, $marginVert);
				height: 4rem;
			}
		}

		@include grid-media($Large) {

			&-date {
				@include rowMachine(5, ($marginVert / 2));
				height: 4rem;
			}
		}

		@include grid-media($Small) {
			width: 100%;
			margin-left: 0;

			&-date {
				@include rowMachine(2, ($marginVert / 2));
				height: 4rem;
			}
		}
	}

	&__partners {
		// @include grid-column(12, $second-grid);
		width: 100%;
		display: block;
		float: left;

		ul {
			font-size: 0;

			li {
				// @include grid-column(2, $second-grid);
				@include rowMachine(7, 1rem);
				// min-height: 5rem;
				// display: inline-block;
				// background-color: $primary;
				// margin-bottom: $marginVert;
				// margin-right: 1rem;

				img {
					width: 100%;
					height: auto;
					display: block;
				}

				&:after {
					content: "";
					display: table;
					clear: both;
				}
			}
		}

		@include grid-media($Small) {
			width: 100%;
			margin-left: 0;
			display: none;
			visibility: hidden;

			ul {

				li {
					@include rowMachine(3, 1rem);
				}
			}
		}
	}

	&__title {
		width: 100%;
		display: block;
		border-bottom: $border_thin solid $secondary;
		margin-bottom: $marginVert;

		&-section {
			margin-bottom: $marginVert / 2;
		}

		&--margin {
			@include grid-column(12, $second-grid);
		}

		@include grid-media($Small) {
			margin-bottom: $paddingMobile;
		}

		&--search {
			margin-bottom: $marginVert / 3;
		}
	}

	&__paging {
		margin-bottom: $marginVert;
		color: $secondary;
	}

	&__subheader {
		width: 100%;
		display: block;
		border-bottom: $border_thin solid $secondary;
		margin-bottom: $marginVert / 2;
		margin-top: $marginVert / 2;

		&--margin {
			@include grid-column(12, $second-grid);
		}

		&--link {

			a {

				&:after {
					content:"\f061";
					font-family: 'fontawesome';
					font-size: $font-size-h2;
					color: $secondary;
					position: absolute;
					margin-left: $marginVert / 3;
					// transform: translateX(-30%);
					// opacity: 0;
					transition: all $base-duration;
				}

				&:hover {

					&:after {
						// opacity: 1;
						transform: translateX(30%);
					}
				}
			}
		}
	}

	&__subtitle {
		width: 100%;
		display: block;
		border-bottom: $border_thin solid $secondary;
		margin-bottom: $marginVert / 2;
		// margin-top: $marginVert / 2;

		&--margin {
			@include grid-column(12, $second-grid);
		}
	}

	&__library {
		margin-bottom: $marginVert;
	}

	&__introtext {
		width: calc(100% - #{$marginVert});
		display: block;
		background-color: $primary;
		padding: ($marginVert / 3) ($marginVert / 2);
		font-size: $font-size-small;
	}

	&__gallery {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		a {
			width: calc((100% / 5) - 1rem);
			min-height: 5rem;
			position: relative;
			overflow: hidden;
			margin: 0 1rem 0 0;

			picture {
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;

				img {
					width: 100%;
					height: auto;
					display: block;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		@include grid-media($Small) {

			a {
				@include rowMachine(2, ($marginVert / 2));
			}
		}
	}

	/*----------  Гостевая книга  ----------*/
	&__guest {
		width: 100%;
		// min-height: $forumPersonWidth;
		display: block;
		position: relative;
		float: left;
		// margin-left: $forumMargin;
		margin-bottom: $marginVert;

		&-person {
			width: 20%;
			// height: $forumPersonWidth;
			height: calc(#{$forumPersonWidth} + (#{$forumPersonWidth} / 2.5));
			display: block;
			position: relative;
			float: left;
		}

		&-icon {
			width: 100%;
			height: 50%;
			display: block;
			float: left;
			position: relative;
			// border-top-left-radius: $marginVert / 4;
			// border-bottom-left-radius: $marginVert / 4;
			// border-top-right-radius: $marginVert / 4;
			// border-bottom-right-radius: $marginVert / 4;
			// background-color: $forumBackground;

			svg {
				width: $forumPersonWidth / 1.7;
				height: $forumPersonWidth / 1.7;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&-date {
			width: 100%;
			// height: calc(30% - (#{$marginVert} / 4));
			height: calc(50% - (#{$marginVert} / 4));
			display: block;
			float: left;
			position: relative;
			margin-top: $marginVert / 4;
			// border-top-left-radius: $marginVert / 4;
			// border-bottom-left-radius: $marginVert / 4;
			// border-top-right-radius: $marginVert / 4;
			// border-bottom-right-radius: $marginVert / 4;
			// background-color: $forumBackground;

			span {
				width: 100%;
				display: block;
				position: relative;
				text-align: center;
				color: $secondary;
				// top: 50%;
				// left: 50%;
				// transform: translate(-50%, -50%);
			}
		}

		&-nickname {
			font-weight: bold;
			line-height: 1;
		}

		&-createdon {
			font-size: $font-size-small;
			margin-top: $marginVert / 4;
		}

		&-message {
			width: calc(80% - (#{$marginVert} * 3));
			// min-height: calc((#{$forumPersonWidth} + (#{$forumPersonWidth} / 2.5)) - (#{$marginVert} * 2));
			display: block;
			margin-left: $marginVert;
			padding: $marginVert;
			background-color: $primary;
			position: relative;
			float: left;
			// border-top-left-radius: $marginVert / 2;
			// border-bottom-left-radius: $marginVert / 2;
			// border-top-right-radius: $marginVert / 2;
			// border-bottom-right-radius: $marginVert / 2;

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-top: ($marginVert / 2) solid transparent;
				border-right: $marginVert solid $forumBackground;
				border-bottom: ($marginVert / 2) solid transparent;
				position: absolute;
				top: $forumPersonWidth / 2;
				left: 0;
				transform: translate(-80%, -50%);
				z-index: -1;
			}

			p {
				margin: 0;
			}
		}

		&-reply {
			width: calc(100% - 2rem);
			height: $marginVert * 3;
			margin-top: 2rem;
			padding: 1rem;
			background-color: $layoutBackground;
			overflow: hidden;
			position: relative;

			span {
				display: block;
				margin-bottom: 1rem;
			}

			&--open {
				height: inherit;
			}
		}

		&-open {
			height: $marginVert;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 0 $marginVert;
			font-size: $font-size-small;
		}

		&-mask {
			width: 100%;
			height: 2rem;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			background: linear-gradient(0deg, $layoutBackground 0%, rgba($layoutBackground, 0.5) 100%);

			&--open {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($XXLarge) {
		padding-top: ($headerHeightDesktop + 1) + ($marginVert * 2);

		// &__inside {
		// 	width: 70rem;
		// }

		// &__hero {
		// 	height: 26vw;
		// }
	}

	// @include grid-media($XLarge) {

	// 	&__inside {
	// 		width: 70rem;
	// 	}
	// }

	@include grid-media($Small) {
		width: calc(100% - (#{$paddingMobile} * 2));
		padding: ($headerHeightMobile + 5) $paddingMobile $headerHeightMobile;

		&__guest {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			&-person {
				width: $forumPersonWidthMobile;
				height: $forumPersonWidthMobile;
			}

			&-icon {


				svg {
					width: $forumPersonWidthMobile / 1.7;
					height: $forumPersonWidthMobile / 1.7;
				}
			}

			&-date {
				display: none;
				visibility: hidden;
			}

			&-message {
				width: calc(100% - #{$forumPersonWidthMobile} - (#{$paddingMobile} * 3));
				margin-left: $paddingMobile;
				padding: $paddingMobile;

				&:before {
					border-top: ($paddingMobile / 2) solid transparent;
					border-right: $paddingMobile solid $forumBackground;
					border-bottom: ($paddingMobile / 2) solid transparent;
					top: $forumPersonWidthMobile / 2;
				}
			}
		}

		&__news {


			&-single {
				width: 100%;
				margin-right: 0;
			}
		}

		&__inside {
			width: 100%;
			margin-left: 0;
			overflow: hidden;

			&-photo,
			&-description {
				width: 100%;
				margin: 0 0 $paddingMobile 0;

				&:nth-child(n) {
					margin: 0 0 $paddingMobile 0;
				}

				&--video {
					width: 100%;
				}
			}

			&-video {
				width: 100%;
				height: inherit;
				min-height: 3rem;
				margin-right: 0;
				margin-bottom: $paddingMobile;
			}

			&-hero {
				height: 8rem;

				a {
					// font-size: $font-size-h1 * 4;
					display: inline-table;
				}

				img {
					width: auto;
					height: 100%;
				}
			}

			&-form {
				width: 100%;
				margin-left: 0;
			}
		}

		&__breadcrumbs {
			width: 100%;
			min-height: 3rem;
			height: initial;
			position: relative;
			// margin-bottom: $paddingMobile;
			right: inherit;
			transform: translateY(0);

			ul {
				line-height: 1;
			}
		}
	}
}

#calameo7 {
	width: 100%;
	min-height: inherit;
}

#calameo {
	width: 100%;
	min-height: inherit;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-prev {
	left: 0;
	// background: url('images/controls.png') no-repeat 0 -32px;
	background: url('images/bx_prev.svg') no-repeat 50% 50%;
	background-size: 60% 60%;
	background-color: $secondary;
	opacity: 0;
	// transform: translateX(-50%);
}
.bx-prev:hover,
.bx-prev:focus {
	background-position: 20% 50%;
}
.bx-next {
	right: 0;
	// background: url('images/controls.png') no-repeat -43px -32px;
	background: url('images/bx_next.svg') no-repeat 50% 50%;
	background-size: 60% 60%;
	background-color: $secondary;
	opacity: 0;
	// transform: translateX(50%);
}
.bx-next:hover,
.bx-next:focus {
	background-position: 80% 50%;
}
.bx-controls-direction a {
	position: absolute;
	// top: 50%;
	bottom: 0;
	margin-top: -($marginVert / 2);
	outline: 0;
	width: $marginVert;
	height: $marginVert;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-controls-direction a.disabled {
	display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-controls-auto {
	text-align: center;
}
.bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -11px no-repeat;
	margin: 0 3px;
}
.bx-controls-auto .bx-start:hover,
.bx-controls-auto .bx-start.active,
.bx-controls-auto .bx-start:focus {
	background-position: -86px 0;
}
.bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -44px no-repeat;
	margin: 0 3px;
}
.bx-controls-auto .bx-stop:hover,
.bx-controls-auto .bx-stop.active,
.bx-controls-auto .bx-stop:focus {
	background-position: -86px -33px;
}

/*=====  End of Page content  ======*/

